body{
    font-family: Arial, sans-serif;
    font-size: 100%;
    background-color: #D79D41;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
header{
    padding: 50px 0;
    background-color: #DA70D6;
}
h1, h2{
    color: #00A550;
    text-align: center; 
}
nav{
    background-color: #E97451;
    border-color: #371F1C;
    border-style: solid;
    min-height: 64px;
}
nav li{
    float: left;
    width: 100px;
}
nav a{
    display: block;
    color: #3E5F8A;
    line-height: 4em;
    font-weight: bold;
    text-align: center;
}
nav li a:hover{
    color: #905D5D;
    background-color: #00677E;
}
p{
    font-size: 16px;
    line-height: 1.3;
    margin-top: 0.1em;
    margin-bottom: 0;
    color: #230D21;
}
footer{
    background-color: #C8A99E;
    color: #2A52BE;
    padding: 20px 0;
    margin-top: 30px;
}
.img{
    width: 200px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.img-container li{
    display: inline-block;
    width: 32%;
    padding: 10px;
}
.img-container{
    text-align: center;
    margin-top: 20px;
    width: 100%;
}
.img-container img{
    width: 80%;
    display: inline-block;
    transition: .25s;
}
.img-container ul li{
    list-style-type: none;
}
.lnline-img img{
    width: 250px;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
}
.multimedia{
    overflow: auto;

}
.multimedia-video{
    display: inline-block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
    box-sizing: border-box;
}